body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 95vh;
        background-color: #f4f4f4;
}

.dropdown {
        position: relative;
        display: inline-block;
        /* border: 0px solid #aaa; */
        border-radius: 5px;
        background-color: #fff;
        margin-bottom: 20px;
        margin-right: 10px;
}

.dropdown>a,
.dropdown>button {
        padding: 10px 10px;
        text-decoration: none;
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        background-color: #89ABE3;
        transition: background-color 0.3s ease;
        /* 아래 라인을 추가하여 높이를 강제로 지정 */
        height: 38px;
}

.dropdown>button:hover {
        background-color: #B3CDE0;
}

.dropdown-content>a {
        display: block;
        text-decoration: none;
        padding: 10px 10px;
        border-top: 1px solid #D1D8E0;
        /* 연한 테두리 색상 */
        color: #333;
        /* 드롭다운 목록의 텍스트 색상 */
        background-color: #fff;
        /* 드롭다운 배경 색상 */

}

.dropdown-content a:hover {
        background-color: #B3CDE0;
        /* 드롭다운 아이템 호버 시 색상 */
}

button {
        border-left: 1px solid #A8BEFF
}

/* a:hover,
button:hover {
        background-color: #B3CDE0;
} */

.dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
        z-index: 1;
        max-height: 150px;
        overflow-y: auto;
}

.dropdown:hover {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

.margin-right-15 {
        margin-right: 15px;
}